ceci est une petite introduction à pandas

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

creation de series en passant par une liste de valeurs

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

creation d'un dataFrame en utilisant un numpy array

In [6]:
dates = pd.date_range('20130101' , periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01 -0.265107 -1.448660 -1.366476 -0.681580
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374
2013-01-04  0.437754 -0.372756  0.567478  1.101290
2013-01-05  0.846909  0.031670 -0.545826  0.109039
2013-01-06 -0.710875  0.718326 -0.443103  1.401746

creation d'un dataframe avec un dictionnaire d'objet

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

avoir des dtypes specifiques

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Viewing Data

In [16]:
df.head()

                   A         B         C         D
2013-01-01 -0.265107 -1.448660 -1.366476 -0.681580
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374
2013-01-04  0.437754 -0.372756  0.567478  1.101290
2013-01-05  0.846909  0.031670 -0.545826  0.109039

In [17]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.437754 -0.372756  0.567478  1.101290
2013-01-05  0.846909  0.031670 -0.545826  0.109039
2013-01-06 -0.710875  0.718326 -0.443103  1.401746

afficher l'index , les colonnes, and les numpy data sous-jaccent

In [18]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
df.values

array([[-0.26510724, -1.44865976, -1.36647631, -0.68157999],
       [ 0.5542767 ,  1.06238268,  0.85441681, -0.60356947],
       [ 0.87329463, -1.53388024, -0.09356883,  1.56337406],
       [ 0.43775419, -0.37275587,  0.56747815,  1.10129023],
       [ 0.84690894,  0.03166951, -0.54582605,  0.10903944],
       [-0.71087478,  0.71832574, -0.4431028 ,  1.40174571]])

Déscription d'un résumé statistique rapide des données

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.289375 -0.257153 -0.171180  0.481717
std    0.640616  1.080670  0.805794  1.007006
min   -0.710875 -1.533880 -1.366476 -0.681580
25%   -0.089392 -1.179684 -0.520145 -0.425417
50%    0.496015 -0.170543 -0.268336  0.605165
75%    0.773751  0.546662  0.402216  1.326632
max    0.873295  1.062383  0.854417  1.563374

transposer les données

In [22]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.265107    0.554277    0.873295    0.437754    0.846909   -0.710875
B   -1.448660    1.062383   -1.533880   -0.372756    0.031670    0.718326
C   -1.366476    0.854417   -0.093569    0.567478   -0.545826   -0.443103
D   -0.681580   -0.603569    1.563374    1.101290    0.109039    1.401746

trier par  un axe

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.681580 -1.366476 -1.448660 -0.265107
2013-01-02 -0.603569  0.854417  1.062383  0.554277
2013-01-03  1.563374 -0.093569 -1.533880  0.873295
2013-01-04  1.101290  0.567478 -0.372756  0.437754
2013-01-05  0.109039 -0.545826  0.031670  0.846909
2013-01-06  1.401746 -0.443103  0.718326 -0.710875

trier par valeurs

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.873295 -1.533880 -0.093569  1.563374
2013-01-01 -0.265107 -1.448660 -1.366476 -0.681580
2013-01-04  0.437754 -0.372756  0.567478  1.101290
2013-01-05  0.846909  0.031670 -0.545826  0.109039
2013-01-06 -0.710875  0.718326 -0.443103  1.401746
2013-01-02  0.554277  1.062383  0.854417 -0.603569

Selection

Selectionner un seul  colonne, Qui donne une série, équivalente à df.A

In [25]:
df['A']

2013-01-01   -0.265107
2013-01-02    0.554277
2013-01-03    0.873295
2013-01-04    0.437754
2013-01-05    0.846909
2013-01-06   -0.710875
Freq: D, Name: A, dtype: float64

Selectionner via [] qui ..... les rangées

In [26]:
df [0:3]

                   A         B         C         D
2013-01-01 -0.265107 -1.448660 -1.366476 -0.681580
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374

In [27]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374
2013-01-04  0.437754 -0.372756  0.567478  1.101290

Selectionner par label

Pour obtenir une coupe transversale à l'aide d'un label

In [28]:
df.loc[dates[0]]

A   -0.265107
B   -1.448660
C   -1.366476
D   -0.681580
Name: 2013-01-01 00:00:00, dtype: float64

selectionner plusieurs axes par label

In [29]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.265107 -1.448660
2013-01-02  0.554277  1.062383
2013-01-03  0.873295 -1.533880
2013-01-04  0.437754 -0.372756
2013-01-05  0.846909  0.031670
2013-01-06 -0.710875  0.718326

Affichage du découpage de label, les deux extrémités sont incluses

In [30]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.554277  1.062383
2013-01-03  0.873295 -1.533880
2013-01-04  0.437754 -0.372756

Réduction des dimensions de l'objet retourné

In [31]:
df.loc['20130102',['A','B']]

A    0.554277
B    1.062383
Name: 2013-01-02 00:00:00, dtype: float64

Pour obtenir une valeur scalaire

In [32]:
df.loc[dates[0],'A']

-0.26510723777822187

Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [33]:
df.at[dates[0],'A']

-0.26510723777822187

Sélectionnez via la position des entiers passés

In [34]:
df.iloc[3]

A    0.437754
B   -0.372756
C    0.567478
D    1.101290
Name: 2013-01-04 00:00:00, dtype: float64

Par tranches entières, agissant comme numpy / python

In [35]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.437754 -0.372756
2013-01-05  0.846909  0.031670

Par des listes d'emplacements de positions entières, semblables au style numpy / python

In [36]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.554277  0.854417
2013-01-03  0.873295 -0.093569
2013-01-05  0.846909 -0.545826

Pour trancher des lignes explicitement

In [37]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374

Pour couper des colonnes explicitement

In [38]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.448660 -1.366476
2013-01-02  1.062383  0.854417
2013-01-03 -1.533880 -0.093569
2013-01-04 -0.372756  0.567478
2013-01-05  0.031670 -0.545826
2013-01-06  0.718326 -0.443103

Pour obtenir une valeur explicitement

In [39]:
df.iloc[1,1]

1.0623826785806392

Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [40]:
df.iat[1,1]

1.0623826785806392

Boolean Indexing

Utilisation de valeurs de colonne unique pour sélectionner des données.

In [41]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  0.554277  1.062383  0.854417 -0.603569
2013-01-03  0.873295 -1.533880 -0.093569  1.563374
2013-01-04  0.437754 -0.372756  0.567478  1.101290
2013-01-05  0.846909  0.031670 -0.545826  0.109039

un where pour obtenir

In [42]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02  0.554277  1.062383  0.854417       NaN
2013-01-03  0.873295       NaN       NaN  1.563374
2013-01-04  0.437754       NaN  0.567478  1.101290
2013-01-05  0.846909  0.031670       NaN  0.109039
2013-01-06       NaN  0.718326       NaN  1.401746

Utilisation de la méthode isin () pour le filtrage:

In [44]:
df2 = df.copy()

In [45]:
df2['E'] = ['one', 'one','two','three','four','three']

In [46]:
df2

                   A         B         C         D      E
2013-01-01 -0.265107 -1.448660 -1.366476 -0.681580    one
2013-01-02  0.554277  1.062383  0.854417 -0.603569    one
2013-01-03  0.873295 -1.533880 -0.093569  1.563374    two
2013-01-04  0.437754 -0.372756  0.567478  1.101290  three
2013-01-05  0.846909  0.031670 -0.545826  0.109039   four
2013-01-06 -0.710875  0.718326 -0.443103  1.401746  three

Setting

La définition d'une nouvelle colonne aligne automatiquement les données par les index

In [47]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [48]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [49]:
df['F'] = s1

Définition des valeurs par libellé

In [51]:
df.at[dates[0],'A'] = 0

Définition des valeurs par position

In [52]:
df.iat[0,1] = 0

Réglage par assignation avec un tableau numpy

In [53]:
df.loc[:,'D'] = np.array([5] * len(df))

Le résultat des opérations de réglage préalable

In [54]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.366476  5  NaN
2013-01-02  0.554277  1.062383  0.854417  5  1.0
2013-01-03  0.873295 -1.533880 -0.093569  5  2.0
2013-01-04  0.437754 -0.372756  0.567478  5  3.0
2013-01-05  0.846909  0.031670 -0.545826  5  4.0
2013-01-06 -0.710875  0.718326 -0.443103  5  5.0

un where avec reglage

In [55]:
df2 = df.copy()

In [56]:
df2 = df.copy()

In [57]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.366476  5  NaN
2013-01-02  0.554277  1.062383  0.854417  5  1.0
2013-01-03  0.873295 -1.533880 -0.093569  5  2.0
2013-01-04  0.437754 -0.372756  0.567478  5  3.0
2013-01-05  0.846909  0.031670 -0.545826  5  4.0
2013-01-06 -0.710875  0.718326 -0.443103  5  5.0

Missing Data

La réinitialisation vous permet de modifier / ajouter / supprimer l'index sur un axe spécifié. Cela retourne une copie des données.

In [59]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [60]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [61]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -1.366476  5  NaN  1.0
2013-01-02  0.554277  1.062383  0.854417  5  1.0  1.0
2013-01-03  0.873295 -1.533880 -0.093569  5  2.0  NaN
2013-01-04  0.437754 -0.372756  0.567478  5  3.0  NaN

Pour supprimer les lignes dont les données manquent.

In [62]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02  0.554277  1.062383  0.854417  5  1.0  1.0

Remplir les données manquantes

In [63]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -1.366476  5  5.0  1.0
2013-01-02  0.554277  1.062383  0.854417  5  1.0  1.0
2013-01-03  0.873295 -1.533880 -0.093569  5  2.0  5.0
2013-01-04  0.437754 -0.372756  0.567478  5  3.0  5.0

Pour obtenir le masque booléen où les valeurs sont nan

In [64]:
 pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

Operations

Stats

Les opérations en général excluent les données manquantes.

Effectuer une statistique descriptive

In [65]:
df.mean()

A    0.33356
B   -0.01571
C   -0.17118
D    5.00000
F    3.00000
dtype: float64

Fonctionnement avec des objets qui ont une dimension différente et ont besoin d'alignement. En outre, les pandas diffusent automatiquement le long de la dimension spécifiée.

In [66]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [67]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [68]:
 df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.126705 -2.533880 -1.093569  4.0  1.0
2013-01-04 -2.562246 -3.372756 -2.432522  2.0  0.0
2013-01-05 -4.153091 -4.968330 -5.545826  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

Apply

Application des fonctions aux données

In [70]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -1.366476   5   NaN
2013-01-02  0.554277  1.062383 -0.512059  10   1.0
2013-01-03  1.427571 -0.471498 -0.605628  15   3.0
2013-01-04  1.865326 -0.844253 -0.038150  20   6.0
2013-01-05  2.712234 -0.812584 -0.583976  25  10.0
2013-01-06  2.001360 -0.094258 -1.027079  30  15.0

In [71]:
df.apply(lambda x: x.max() - x.min())

A    1.584169
B    2.596263
C    2.220893
D    0.000000
F    4.000000
dtype: float64

Histogramming

Voir plus sur Histogramme et discrétisation

In [72]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [73]:
s

0    4
1    3
2    1
3    0
4    0
5    0
6    6
7    0
8    3
9    2
dtype: int32

In [74]:
s.value_counts()

0    4
3    2
6    1
4    1
2    1
1    1
dtype: int64

Methodes String

In [75]:
 s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [76]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

Merges

Concat

Concatenating pandas objects together with concat():

In [77]:
df = pd.DataFrame(np.random.randn(10, 4))

In [78]:
df

          0         1         2         3
0  1.327500 -0.594400  0.625348 -1.033813
1  0.189920  1.304544 -0.038017 -1.781462
2 -0.376331  1.673138 -0.750331  1.517476
3 -0.427054  0.998423 -1.029896 -1.303249
4  0.034957 -0.322241  0.493967  0.705136
5  0.513901  0.452271  0.715258  2.064219
6 -1.271707  1.157364  1.336311 -0.704564
7 -0.782608  0.376798  0.868530 -0.509113
8  0.161257  0.838731 -1.334625  0.294839
9 -0.038348  1.845914  0.176310  1.107418

divisé en plusieurs pieces

In [79]:
pieces = [df[:3], df[3:7], df[7:]]

In [80]:
pd.concat(pieces)

          0         1         2         3
0  1.327500 -0.594400  0.625348 -1.033813
1  0.189920  1.304544 -0.038017 -1.781462
2 -0.376331  1.673138 -0.750331  1.517476
3 -0.427054  0.998423 -1.029896 -1.303249
4  0.034957 -0.322241  0.493967  0.705136
5  0.513901  0.452271  0.715258  2.064219
6 -1.271707  1.157364  1.336311 -0.704564
7 -0.782608  0.376798  0.868530 -0.509113
8  0.161257  0.838731 -1.334625  0.294839
9 -0.038348  1.845914  0.176310  1.107418

JOin

sql merge

In [81]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [82]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [83]:
left

   key  lval
0  foo     1
1  foo     2

In [84]:
right

   key  rval
0  foo     4
1  foo     5

In [85]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5